/*For Nav*/
header{
    padding-left: 120px;
    padding-right: 120px;
}
.nav-full{
    display: flex;
    justify-content: space-between; 
     align-items: center;
    flex-wrap: wrap; 
   
 } 
 .nav-first-div{
    display: flex;
    align-items: center;
    gap: 10px;
   
}
 .nav-logo{
    width: 86.041px;
    height: 40px;
    
}
h3{
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.g-color{
    color:#FF42A5;
}
/*.nav-first-div> img{
    width: 86.041px;
    height: 40px;
    margin:44px 20px 46px 220px ; */
.nav-second-div{
    display: flex;
    align-items: center;
    gap: 20px;
   
}
.nav-about-dev{
    display: flex;
    gap: 20px;
}

 li {
    list-style: none;

    
}
li a{
    text-decoration: none;
}

.nav-follow{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    

}
.nav-follow-tittle{
    padding: 17px 2px 18px 24px ;
}

a{
    
        color: #3C354F;
        text-align: center;
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
   
    
}
.nav-pic-1{
    width: 33.92px;
    height: 24px;
    margin: 16px 16px 17px 24px;
}
.nav-pic-2{
    width: 24px;
    height: 24px;
} 
/* Nav Complete */

/* Responsive Media Queries for MObile*/
@media screen and (max-width:427px) {
    .nav-full {
        flex-direction: column;
        
        
    }
    .nav-first-div{
        padding: 10px;
    }
    .nav-second-div{
        flex-direction: column;
    }
    .nav-follow{
        justify-content: center;
        align-items: center;  
    }
    .nav-about-dev{
        flex-direction: column;
        
    }
    header{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*For Tablets*/
@media screen and (min-width:427px) and (max-width:769px) {
    .nav-first-div{
        margin: 10px 50px;
        width: 100%;
        justify-content:center ;
        
    }
    .nav-second-div{
        width: 100%;
        justify-content: center;
    }
    
}

